body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.table > thead {
  vertical-align: top !important;
}

// Header
.logo-spin {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

// Container
.app-container {
  // TableUsers
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .item-role {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .sort-option-mobile {
    display: none;
  }

  .sort-name-icons i,
  .sort-id i {
    padding: 5px;
    border: 2px solid transparent;
    cursor: pointer;
  }
  .sort-name-icons i:hover,
  .sort-id i:hover {
    cursor: pointer;
    border-color: rgba(0, 0, 0, 0.166);
    border-radius: 4px;
    animation: all 0.25s linear;
    opacity: 0.8;
  }

  .actions-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    height: auto;
  }
}

@media (max-width: 1023px) {
  .app-container {
    .sort-icon {
      display: none !important;
    }

    .sort-option-mobile {
      display: block;
    }

    button.btn.btn-warning {
      width: unset !important;
    }
  }
}

@media (max-width: 739px) {
  .app-container {
    .header-content {
      flex-wrap: wrap;
      gap: 10px;
    }

    .actions-btn {
      flex-wrap: wrap;
    }
    button.btn.btn-warning {
      width: 100% !important;
    }
  }
}
